certifi
charset-normalizer
click
colorama
customtkinter
darkdetect
decorator
et-xmlfile
Flask
future
geocoder
idna
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
Pillow
pyperclip
python-dateutil
pytz
app
ratelim
requests
six
tkintermapview
tzdata
urllib3
Werkzeug
Gunicorn
folium
myapp
