<!DOCTYPE html>
<html>
<head>
    <title>Tharsan Project</title>
</head>
 <style>
     body {
         background-image: url("/static/bg4.jpg");
         background-size:cover;
        
        }
    </style>

<body>
    <header>
        <!-- Add your logo image with the <img> element -->
        <img src="/static/logo3.png" alt="School Logo" width="100" height="100" style="position: absolute;top: 100px;left: 425px">
    </header>


    <h1><p style="color: white ;position: absolute;top: 220px;left: 190px">A.V.P.Trust Public Senior Secondary School (CBSE)</p></h1>
    <h1><p style="position: absolute;top: 270px;left: 320px; color: white"> Enter your information</p></h1>
 <style>
        /* Define a CSS style for the label */
        label.custom-label {
            color: gray; /* Change the text color to red */
        }
    </style>
        <form method="POST">
        <label class="custom-label" style="position: absolute;top: 370px;left: 360px" " for="name">Name:</label>
        <input type="text" style="color: #000000;position: absolute;top: 370px;left: 410px"" name="name" required><br><br>

        <label class="custom-label" style="position: absolute;top: 400px;left: 360px" for="grade">Grade:</label>
        <select style="color: black; position: absolute;top: 400px;left: 410px"" id="text" name="grade" required>
           <option value="--None--">--None--</option>
            <option value="Pre_K.G">Pre K.G</option>
            <option value="L.K.G">L.K.G</option>
            <option value="U.K.G">U.K.G</option>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>    
            <option value="IV">IV</option>
            <option value="V">V</option>
            <option value="VI">VI</option>
            <option value="VII">VII</option>
            <option value="VIII">VIII</option>
            <option value="IX">IX</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
            <option value="XII">XII</option>
        </select><br><br>

       <label class="custom-label" style="position: absolute;top: 430px;left: 360px"" for="section">Section:</label>
        <select style="color: black;position: absolute;top: 430px;left: 420px"" id="text" name="section" required>
           <option value="--None--">--None--</option>
            <option value="A">A</option>
           <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
        </select><br><br>

        <label class="custom-label" style="position: absolute;top: 460px;left: 360px"" for="location">Location:</label>
        <select style="color: black;position: absolute;top: 460px;left: 425px"" id="text" name="location" required>
            <option value="--None--">--None--</option>
            <option value="Gandhinagar">Gandhinagar</option>
            <option value="Periyar Colony">Periyar Colony</option>
            <option value="Rayapuram">Rayapuram</option>
            <option value="Vengamedu">Vengamedu</option>
            <option value="Annuparpalayampudur">Annuparpalayampudur</option>
            <option value="Annuparpalayam">Annuparpalayam</option>
            <option value="Thaneer Pandhal">Thaneer Pandhal</option>
            <option value="Poondi">Poondi</option>
            <option value="Avinashi">Avinashi</option>
            <option value="Ammapalayam">Ammapalayam</option>
            <option value="Rakkiyapalayam">Rakkiyapalayam</option>
            <option value="Sirupooluvati">Sirupooluvati</option>
            <option value="Andipalayam">Andipalayam</option>
            <option value="Periyayeepalayam">Periyayeepalayam</option>
            <option value="Avinashipuram">Avinashipuram</option>
            <option value="Vanjipalayam">Vanjipalayam</option>
            <option value="Perumanallur">Perumanallur</option>
            <option value="Chettipalayam">Chettipalayam</option>
            <option value="Palangarai">Palangarai</option>
            <option value="Pooluvapatti">Pooluvapatti</option>
            <option value="Kanakampalayam Pirivu">Kanakampalayam Pirivu</option>
            <option value="Mummoorthi Nagar">TMummoorthi Nagar</option>
            <option value="Pitchampalayam Pudur">Pitchampalayam Pudur</option>
            <option value="New Bus Stand">New Bus Stand</option>
            <option value="Nesavalar Colony">Nesavalar Colony</option>
            <option value="Lakshmi Nagar">Lakshmi Nagar</option>
            <option value="Shanthi Threatre">Shanthi Threatre</option>
            <option value="Pushpa Threatre">Pushpa Threatre</option>
            <option value="Sri Sakthi Threatre">Sri Sakthi Threatre</option>
            <option value="Palladam">Palladam</option>
            <option value="Old Bus Stand">Old Bus Stand</option>
            <option value="Thennampalayam">Thennampalayam</option>
            <option value="Velampalayam">Velampalayam</option>
            <option value="S.A.P Threatre">S.A.P Threatre</option>
            <option value="P.N. Road">P.N. Road</option>
            <option value="Kumar Nagar">Kumar Nagar</option>
            <option value="Bungalow Stop">Bungalow Stop</option>
            <option value="Samandipuram">Samandipuram</option>
            <option value="Avinashilingampalayam">Avinashilingampalayam</option>
            <option value="Anaipudur">Anaipudur</option>
            <option value="Poyampalayam">Poyampalayam</option>
           


        </select><br><br>

        <input style="color: grey;position: absolute;top: 525px;left: 420px"" type="submit" value="Submit">
    </form>
</body>
</html>
